<div class="container-fuid mx-auto mt-3 fw-bold text-center" style="max-width: 960px;">
    <h2 class="text-center">Filmoteca de Diego
        <i class="fa-solid fa-video"></i>
    </h2>
    <i class="fa-solid fa-film"></i>
    <i class="fa-solid fa-video"></i>
    <i class="fa-solid fa-clapperboard"></i>
    <div class="mx-auto">
        <p class="text-start fs-5 p-3 mt-2 mb-4 mx-auto">
            Esta pagina es un proyecto personal en el que se puede ver un listado de
            peliculas, añadir nuevas, actualizar y borrar. Esta creado con NODEJS, EXPRESS,
            el motor de plantillas de EXPRESS (HANDLEBARS) y BOOTSTRAP como framework
            para estilar el contenido. Prueba esta API empezando a crear una nueva pelicula.
        </p>
        <a href="/add" class="btn btn-dark">Crear pelicula</a>
    </div>
</div>