@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Sans Mono", sans-serf;
}

ul {
  list-style-type: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

body {
  background-color: #010300;
  color: #fff;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

#navbar {
  background-color: #011000;
  text-shadow: 2px 2px 1px #594d7a;
}

#card {
  filter: drop-shadow(5px 5px 10px #594d7a);
  max-width: 720px;
}

.btn {
  border: 2px solid #594d7a !important;
}

#buttonNavbar {
  background-color: #818181;
  padding: .2rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  #img-login {
    display: flex;
    width: 40%;
  }
}

footer {
  margin-top: auto;
  color: var(--font-color);
}

.rrss-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.rrss-footer p {
  margin-bottom: 0;
}

.rrss-footer svg {
  color: var(--font-color);
}
