<nav id="navbar" class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <h3 class="mt-1">Filmoteta</h3>
    <button id="buttonNavbar" class="navbar-toggler" type="button" data-bs-toggle="offcanvas"         data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h2 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menu</h2>
        <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-evenly text-center flex-grow-1 pe-1">
            <li>
              <a href="/">Inicio</a>
            </li>
            <li>
              <a href="/add">Crear pelicula</a>
            </li>
            <li>
              <a href="/list">Ver peliculas</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</nav>